.el-table td,
.el-table th.is-leaf {
  text-align: center;
}
.el-table th.is-leaf{
  background-color: #F0F0F0;
}
.search-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #ebeef5;
  padding: 10px;
  .input-search {
    width: 300px;
  }
  .select-btn {
    cursor: pointer;
  }
  .filter {
    text-align: left;
    .el-form {
      display: flex;
      .el-form-item {
        margin-right: 20px;
      }
    }
  }
  .filterBtn{
    position: absolute;
    bottom: 105px;
    right: 70px;
  }
}
.el-table .cell {
  text-align: center;
  color: #434A64;
}
.el-pagination{
  text-align: right;
  margin-top: 20px;
  .el-pagination__total{
    float: left;
  }
}
.select-btn{
  i{
    margin-left: 5px;
  }
}